<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.usc.projecttalent.cognitive">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".CMIntro" />
        <activity android:name=".vocab.VSInstruction" />
        <activity android:name=".vocab.VSQuestion" />
        <activity android:name=".EndTest" />
        <activity android:name=".numbers.NSInstruction" />
        <activity android:name=".numbers.NSExAnswer" />
        <activity android:name=".numbers.NSIntroduction" />
        <activity android:name=".numbers.NSQuestion" />
        <activity android:name=".reasoning.ARInstruction" />
        <activity android:name=".reasoning.ARPractice1" />
        <activity android:name=".reasoning.ARPractice2" />
        <activity android:name=".reasoning.ARIntroduction" />
        <activity android:name=".reasoning.ARInstruction2" />
        <activity android:name=".reasoning.ARQuestion" />
        <activity android:name=".spatial.SVPractice" />
        <activity android:name=".spatial.SVSample" />
        <activity android:name=".spatial.SVInstruction" />
        <activity android:name=".spatial.SVQuestion" />
        <activity android:name=".reaction.RTInstruction" />
        <activity android:name=".reaction.RTQuestion" />
        <activity android:name=".thurstone.TMQuestion" />
        <activity android:name=".thurstone.TMRunner" />
        <activity android:name=".thurstone.TMInstruction" />
        <activity android:name=".thurstone.TMMoreInstr" />
        <activity android:name=".thurstone.TMPractice" />
        <activity android:name=".reaction.RTPractice" />
        <activity android:name=".reaction.RTStart"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>