<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.usc.projecttalent.cognitive">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CMIntro" />
        <activity android:name=".vocab.Instruction" />
        <activity android:name=".vocab.Question" />
        <activity android:name=".EndTest" />
        <activity android:name=".numbers.Instruction" />
        <activity android:name=".numbers.ExAnswer" />
        <activity android:name=".numbers.Introduction" />
        <activity android:name=".numbers.Question" />
        <activity android:name=".reasoning.Instruction" />
        <activity android:name=".reasoning.Practice1" />
        <activity android:name=".reasoning.Practice2" />
        <activity android:name=".reasoning.Introduction" />
        <activity android:name=".reasoning.Instruction2" />
        <activity android:name=".reasoning.Question" />
        <activity android:name=".spatial.Practice" />
        <activity android:name=".spatial.Sample" />
        <activity android:name=".spatial.Instruction" />
        <activity android:name=".spatial.Question" />
        <activity android:name=".reaction_time.Instruction" />
        <activity android:name=".reaction_time.Question" />
        <activity android:name=".thurstone.ExAnswer" />
        <activity android:name=".thurstone.ExRunner" />
        <activity android:name=".thurstone.Instruction" />
        <activity android:name=".thurstone.MoreInstr" />
        <activity android:name=".thurstone.Practice"></activity>
        <activity android:name=".thurstone.TestAnswer" />
        <activity android:name=".thurstone.TestRunner" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>